.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftPart {
  display: flex;
  gap: 2px;
  align-items: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}