.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-shrink: 0;
  padding-right: 24px;
}

.title {
  font-size: 22px;
  font-weight: 400;
}
