.container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  background-color: #f1f4f9;
  padding: 0 8px;
  border-radius: 24px;
  min-height: 40px;
}

.separator {
  margin: 0;
  width: 1px;
  height: 24px;
  border: none;
  background-color: #c7c7c7;
}
